@CHARSET "UTF-8";

@import url("/mod/abook/css/animate.min.css");

.abwallpaper {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position:relative;
}

.abboard {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 766px;
}

.abfloor {
	bottom: 0;
	position: absolute;
}

.abteacher {
	bottom: 0;
	position: absolute;
}

.abpos_r {
	right: 0;
}

.abpos_l {
	left: 0;
}

.abpos_c {
	text-align: center;
	width: 100%;
}

.abfooter {
	text-align: right;
}

.abbtn-edit {
	border: 1px solid #b4b4b7;
	cursor: pointer;
}








.abook_toc_selected {
	font-weight: bolder;
}

.path-mod-abook .navtop img.icon,
.path-mod-abook .navbottom img.icon {
  margin-right: 4px;
  margin-left: 4px;
  border: 0;
  padding: 0;
}


.path-mod-abook .navbottom,
.path-mod-abook .navtop {
    text-align: right;
}
.dir-rtl.path-mod-abook .navbottom,
.dir-rtl.path-mod-abook .navtop {
    text-align: left;
}
.path-mod-abook .navtop {
    margin-bottom: 0.5em;
}

/* == Fake toc block == */

.path-mod-abook .block_abook_toc ul {
    margin: 0 0 0 5px;
    padding-left: 0;
    padding-right: 0;
}
.dir-rtl.path-mod-abook .block_abook_toc ul { margin: 0 5px 0 0; }
.path-mod-abook .block_abook_toc li {
    clear: both;
    list-style: none;
    margin-top: .5em;
}
.path-mod-abook .block_abook_toc li li {
    list-style: none;
}
.path-mod-abook .block_abook_toc .action-list { float: right; }
.dir-rtl.path-mod-abook .block_abook_toc .action-list { float: left; }
.path-mod-abook .block_abook_toc .action-list img.smallicon {
    margin: 0 3px;
}

/* toc style NONE */
.path-mod-abook .abook_toc_none {
  font-size: 0.8em;
}
.path-mod-abook .abook_toc_none ul ul,
.dir-rtl.path-mod-abook .abook_toc_none ul ul {
    margin-left: 0;
    margin-right: 0;
}

/*toc style BULLETS */
.path-mod-abook .abook_toc_bullets {
  font-size: 0.8em;
}
.path-mod-abook .abook_toc_bullets ul ul {
    margin-left: 20px;
}
.dir-rtl.path-mod-abook .abook_toc_bullets ul ul {
    margin-left: 0;
    margin-right: 20px;
}
.path-mod-abook .abook_toc_bullets li li {
    list-style: circle;
}

/* toc style INDENTED*/
.path-mod-abook .abook_toc_indented {
  font-size: 0.8em;
}
.path-mod-abook .abook_toc_indented ul {
    margin-left: 5px;
}
.dir-rtl.path-mod-abook .abook_toc_indented ul {
    margin-left: 0;
    margin-right: 5px;
}
.path-mod-abook .abook_toc_indented ul ul {
    margin-left: 15px;
}
.dir-rtl.path-mod-abook .abook_toc_indented ul ul {
    margin-left: 0;
    margin-right: 15px;
}
.path-mod-abook .abook_toc_indented li li {
    list-style: none;
}
